<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Restaurant Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Restaurant</h1>
        <div class="box">
            <a href="/menu">View Menu</a>
        </div>
        <div class="box">
            <a href="/review">Submit a Review</a>
        </div>
        <div class="box">
            <a href="/reviews">View Reviews</a>
        </div>
    </div>
</body>
</html>
